.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.c-section {
  height: 100%;
  min-height: 100vh;
}

.c-section.is--landing {
  position: relative;
  overflow: hidden;
  background-color: #261f17;
}

.c-section.is--description {
  height: auto;
  margin-top: auto;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #8c442b;
}

.c-section.is--services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e8e2d2;
  text-align: left;
}

.c-section.is--services.is--portfolio {
  background-color: #e6ddcd;
}

.c-section.is--team {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #e8e2d2;
}

.c-section.is--contact {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #261f17;
}

.c-nav_menu_link {
  font-family: 'HK Grotesk', sans-serif;
  color: #e8e2d2;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.c-nav_menu_link:hover {
  color: #fe9305;
}

.c-nav_title_text {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fraunces 72pt Soft', sans-serif;
  color: #fe9305;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  font-weight: 700;
}

.c-nav_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100%;
  margin-top: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-nav {
  z-index: 2;
  margin-bottom: 8%;
  background-color: transparent;
}

.c-nav_container {
  margin-right: 100px;
  margin-left: 100px;
}

.c-div_container {
  margin-top: auto;
  margin-right: 8%;
  margin-left: 8%;
}

.c-text {
  font-family: 'HK Grotesk', sans-serif;
}

.c-text.is--description {
  display: inline;
  font-family: 'HK Grotesk', sans-serif;
  color: #e8e2d2;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}

.c-text.is--portfolio {
  display: inline;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}

.c-text.is--portfolio.is--company {
  display: inline;
  font-weight: 700;
}

.c-grid.is--services {
  grid-column-gap: 80px;
  grid-row-gap: 100px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.c-grid.is--portfolio {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.c-grid.is--landing {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 56px;
  -ms-grid-columns: 0.8fr 1fr;
  grid-template-columns: 0.8fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c-grid.is--about {
  grid-row-gap: 64px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c-grid.is--service {
  grid-column-gap: 40px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c-grid.is--profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c-grid.is--contact {
  grid-column-gap: 56px;
  -ms-grid-columns: 1fr 0.8fr;
  grid-template-columns: 1fr 0.8fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.c-image_spot {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
}

.c-heading_1 {
  position: static;
  margin-top: 0px;
  margin-bottom: 80px;
  font-family: 'Fraunces 72pt Super Soft', sans-serif;
  text-align: left;
}

.c-heading_1.is--services {
  margin-bottom: 60px;
  color: #8c442b;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.c-heading_1.is--preloader {
  color: #fe9305;
  font-size: 40px;
  line-height: 48px;
}

.c-paragraph {
  font-family: 'HK Grotesk', sans-serif;
  color: #261f17;
  font-size: 18px;
  line-height: 24px;
}

.c-paragraph.is--landing {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #e8e2d2;
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
}

.c-paragraph.is--landing.is--highlight {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Fraunces 72pt Super Soft', sans-serif;
  color: #f8f6f0;
  font-size: 40px;
}

.c-paragraph.is--landing.is--highlight.is--last {
  color: #ccc6b5;
}

.c-paragraph.is--contact {
  margin-bottom: 32px;
  color: #e8e2d2;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

.c-heading_2 {
  font-family: 'HK Grotesk', sans-serif;
  color: #261f17;
  font-size: 30px;
  line-height: 40px;
}

.c-tags {
  margin-top: 24px;
}

.c-tag_text {
  display: inline-block;
  font-family: 'HK Grotesk', sans-serif;
  color: #261f17;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.c-tag {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: rgba(254, 147, 5, 0.25);
}

.c-div_service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c-work {
  text-decoration: none;
}

.c-work_div {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 225px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 8px;
}

.c-work_div_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  min-height: auto;
  min-width: auto;
}

.c-link {
  color: #8c442b;
  font-weight: 600;
  text-decoration: none;
}

.c-link:hover {
  color: #c36f00;
}

.c-link.is--about {
  display: block;
  margin-top: 48px;
}

.c-span {
  font-family: 'Fraunces 72pt Super Soft', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.c-image_gif {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: -20px 14px 0px;
  padding-bottom: 0px;
}

.c-div_image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 425px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-work_frame {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  min-height: 100%;
}

.c-work_text {
  color: #261f17;
  text-decoration: none;
}

.c-work_text:hover {
  color: #8c442b;
}

.c-div_hero {
  position: relative;
}

.c-div_hero_frame {
  position: absolute;
  margin-top: -6px;
}

.c-div_about {
  position: static;
  min-height: auto;
}

.c-image_about {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  max-height: 100%;
  max-width: 250px;
  min-height: auto;
  min-width: auto;
  border-radius: 50%;
}

.c-div_contact {
  position: relative;
  min-height: 400px;
}

.c-div_contact_frame {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.c-image_contact {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.c-preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #261f17;
}

.c-button {
  font-family: 'Fraunces 72pt Super Soft', sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.c-button.is--primary {
  display: block;
  margin-bottom: 24px;
  padding: 16px 24px 20px;
  border-radius: 8px;
  background-color: #8c442b;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.c-button.is--primary:hover {
  background-color: #fe9305;
  color: #261f17;
}

.c-button.is--secondary {
  display: block;
  padding: 16px 24px 20px;
  border-style: solid;
  border-width: 2.5px;
  border-color: #8c442b;
  border-radius: 8px;
  background-color: transparent;
  color: #e8e2d2;
  text-align: center;
}

.c-button.is--secondary:hover {
  border-color: #fe9305;
  color: #fe9305;
}

@media screen and (min-width: 1440px) {
  .c-section.is--services.is--portfolio {
    background-color: #e6ddcd;
  }

  .c-nav {
    z-index: 2;
  }

  .c-nav_container {
    margin-right: 8%;
    margin-left: 8%;
  }

  .c-text.is--portfolio.is--company {
    font-size: 20px;
    line-height: 30px;
  }

  .c-grid.is--landing {
    grid-column-gap: 56px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .c-grid.is--about {
    grid-row-gap: 64px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .c-grid.is--service {
    grid-column-gap: 48px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
  }

  .c-grid.is--profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .c-image_spot {
    width: auto;
  }

  .c-paragraph.is--landing {
    font-size: 48px;
    line-height: 52px;
  }

  .c-paragraph.is--landing.is--highlight {
    font-size: 50px;
    line-height: 56px;
  }

  .c-paragraph.is--contact {
    font-size: 32px;
  }

  .c-heading_2 {
    font-size: 32px;
  }

  .c-tag_text {
    font-size: 14px;
  }

  .c-div_service {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .c-work_div {
    height: 300px;
    margin-bottom: 24px;
  }

  .c-work_div_image {
    top: 6%;
  }

  .c-span {
    font-family: 'Fraunces 72pt Super Soft', sans-serif;
    font-weight: 400;
  }

  .c-div_image {
    min-height: 400px;
  }

  .c-div_about {
    position: static;
    display: block;
    min-height: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .c-image_about {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    max-height: 100%;
    max-width: 300px;
    min-height: auto;
    min-width: auto;
    margin-bottom: 8px;
    text-align: center;
  }

  .c-preloader {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 999;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #261f17;
  }

  .c-button.is--primary {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .c-section.is--landing {
    min-height: 100vh;
  }

  .c-section.is--description {
    min-height: 80vh;
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .c-section.is--services {
    padding-top: 100px;
  }

  .c-nav_menu_link {
    padding: 20px 4% 20px 15%;
  }

  .c-nav {
    margin-bottom: 6%;
  }

  .c-nav_container {
    margin-right: 4%;
    margin-left: 4%;
  }

  .c-nav_menu {
    background-color: #2e261d;
  }

  .c-div_container {
    margin-right: 4%;
    margin-left: 4%;
  }

  .c-text.is--description {
    font-size: 32px;
    line-height: 40px;
  }

  .c-text.is--portfolio {
    font-size: 16px;
    line-height: 24px;
  }

  .c-grid.is--portfolio {
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .c-grid.is--landing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .c-grid.is--service {
    grid-column-gap: 40px;
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }

  .c-grid.is--profile {
    grid-column-gap: 32px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
  }

  .c-grid.is--contact {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .c-heading_1.is--services {
    font-size: 32px;
    line-height: 40px;
  }

  .c-paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .c-paragraph.is--landing {
    font-size: 34px;
    line-height: 40px;
  }

  .c-paragraph.is--landing.is--highlight {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .c-paragraph.is--contact {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .c-heading_2 {
    font-size: 24px;
    line-height: 32px;
  }

  .c-tag_text {
    font-size: 12px;
    line-height: 16px;
  }

  .c-tag {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
  }

  .c-work_div {
    height: auto;
    min-height: 175px;
  }

  .c-link.is--about {
    display: block;
  }

  .icon {
    color: #e8e2d2;
  }

  .c-image_gif {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-left: 8px;
  }

  .c-div_image {
    min-height: 300px;
  }

  .c-image_hero {
    max-width: 100%;
  }

  .c-div_hero {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .c-div_hero_frame {
    max-width: 100%;
  }

  .c-image_about {
    top: 4%;
    bottom: 8%;
  }

  .c-menu_button {
    padding-right: 0px;
    padding-left: 0px;
  }

  .c-menu_button.w--open {
    background-color: #261f17;
  }

  .c-div_contact {
    max-height: none;
    min-height: 400px;
  }

  .c-div_contact_frame {
    left: 12%;
    right: 12%;
    max-width: 75%;
    min-width: auto;
  }

  .c-image_contact {
    left: 12%;
    right: 12%;
    max-width: 75%;
  }

  .c-button.is--primary {
    display: inline-block;
    min-width: 260px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 32px;
  }

  .c-button.is--secondary {
    display: inline-block;
    min-width: 260px;
    font-size: 24px;
    line-height: 32px;
  }

  .c-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    min-width: 500px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .c-div {
    margin-top: 0em;
    margin-bottom: 5em;
  }
}

@media screen and (max-width: 767px) {
  .c-grid.is--services {
    grid-row-gap: 100px;
  }

  .c-grid.is--about {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 64px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid.is--service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .c-grid.is--profile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }

  .c-image_spot {
    position: static;
    max-width: 50%;
  }

  .c-paragraph {
    text-align: center;
  }

  .c-paragraph.is--landing {
    text-align: left;
  }

  .c-paragraph.is--landing.is--highlight {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
  }

  .c-paragraph.is--contact {
    font-size: 32px;
    line-height: 40px;
  }

  .c-div_service {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .c-div_image {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .c-div_about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .c-div_about_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .c-div_contact_frame {
    left: 0%;
    right: 0%;
    max-width: 100%;
  }

  .c-image_contact {
    left: 0%;
    right: 0%;
    max-width: 100%;
  }

  .c-button.is--primary {
    margin-bottom: 16px;
  }

  .c-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .c-section.is--landing {
    min-height: 100vh;
  }

  .c-section.is--description {
    min-height: 100vh;
    padding-top: 7em;
    padding-bottom: 7em;
  }

  .c-section.is--services {
    padding-top: 16%;
    padding-bottom: 16%;
  }

  .c-nav_menu_link {
    padding-right: 6%;
    padding-left: 15%;
  }

  .c-nav_title.w--current {
    padding-left: 0px;
  }

  .c-nav {
    margin-bottom: 4%;
  }

  .c-nav_container {
    display: block;
    margin-right: 4%;
    margin-left: 4%;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .c-text.is--description {
    font-size: 30px;
    line-height: 38px;
  }

  .c-text.is--portfolio {
    text-align: center;
  }

  .c-grid.is--services {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid.is--portfolio {
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid.is--landing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3em;
    margin-bottom: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid.is--service {
    grid-column-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid.is--profile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid.is--contact {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .c-heading_1.is--services {
    text-align: center;
  }

  .c-paragraph {
    font-size: 16px;
    line-height: 22px;
  }

  .c-paragraph.is--landing {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 36px;
  }

  .c-paragraph.is--landing.is--highlight {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 32px;
  }

  .c-heading_2 {
    font-size: 24px;
    line-height: 32px;
  }

  .c-tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .c-tag_text {
    font-size: 12px;
    line-height: 20px;
  }

  .c-tag {
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .c-work {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .c-work_div {
    height: auto;
    min-height: 220px;
  }

  .c-work_div_image {
    position: static;
  }

  .icon {
    color: #e8e2d2;
  }

  .c-image_gif {
    width: 36px;
    height: 36px;
    margin-top: -8px;
    margin-bottom: 0px;
  }

  .c-div_image {
    position: static;
    height: auto;
    min-height: auto;
    min-width: auto;
  }

  .c-work_text {
    text-align: center;
  }

  .c-div_about {
    min-height: 300px;
  }

  .c-image_about {
    max-width: 85%;
  }

  .c-div_contact {
    min-height: 250px;
    margin-bottom: 0px;
  }

  .c-div_contact_frame {
    left: 0%;
    right: 0%;
    max-width: 100%;
  }

  .c-image_contact {
    left: 0%;
    right: 0%;
    max-width: 100%;
  }

  .c-div_contact_text {
    margin-top: 48px;
  }

  .c-button.is--primary {
    margin-bottom: 24px;
  }

  .c-buttons {
    min-width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .c-div {
    margin-bottom: 0em;
  }
}

#w-node-_325d0cd6-cb8b-58ab-a2fb-9d336b129b15-bb3ea03f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-a2c9f5fd-660b-1160-5e02-856b32362de7-bb3ea03f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_1663c639-1400-a6e5-aa77-dd93b8d5676a-bb3ea03f {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_752fa5f7-827a-0818-8503-538ba754219c-bb3ea03f {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_9968e442-aa6b-0166-14de-40396dadeb7b-bb3ea03f {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_9968e442-aa6b-0166-14de-40396dadeb7d-bb3ea03f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_9968e442-aa6b-0166-14de-40396dadeb92-bb3ea03f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_00cbfa2f-9d09-b516-032f-dd84ec69eec0-bb3ea03f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (min-width: 1440px) {
  #w-node-ca8d3a55-b57f-8d73-a6ad-c9e72ac9c027-bb3ea03f {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_9968e442-aa6b-0166-14de-40396dadeb7b-bb3ea03f {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_00cbfa2f-9d09-b516-032f-dd84ec69eec0-bb3ea03f {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_2b40493c-560c-8ebe-4134-ee4be3abd24f-bb3ea03f {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_00cbfa2f-9d09-b516-032f-dd84ec69eec0-bb3ea03f {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_325d0cd6-cb8b-58ab-a2fb-9d336b129b15-bb3ea03f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_9968e442-aa6b-0166-14de-40396dadeb7a-bb3ea03f {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

@font-face {
  font-family: 'Fraunces 72pt';
  src: url('../fonts/Fraunces72pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt';
  src: url('../fonts/Fraunces72pt-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt';
  src: url('../fonts/Fraunces72pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt';
  src: url('../fonts/Fraunces72pt-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt';
  src: url('../fonts/Fraunces72pt-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt';
  src: url('../fonts/Fraunces72pt-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Soft';
  src: url('../fonts/Fraunces72ptSoft-Regular.woff2') format('woff2'), url('../fonts/Fraunces72ptSoft-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Soft';
  src: url('../fonts/Fraunces72ptSoft-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Soft';
  src: url('../fonts/Fraunces72ptSoft-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Soft';
  src: url('../fonts/Fraunces72ptSoft-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Soft';
  src: url('../fonts/Fraunces72ptSoft-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Soft';
  src: url('../fonts/Fraunces72ptSoft-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces 72pt Super Soft';
  src: url('../fonts/Fraunces72ptSuperSoft-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/HKGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/HKGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/HKGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}